.DS_Store
node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml
.DS_Store
.git
.gitignore
Dockerfile
Dockerfile.dev
.dockerignore
coverage
build
logs
.tmp
dist
uploads
.env
.env.local
.env.*
**/*.local
